<?xml version="1.0" encoding="UTF-8"?>
<launch>

 <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- <node name="ddmodel" pkg="puzzlebot_sim" type="ddmodel.py" output="screen"/>
  <node name="solver" pkg="puzzlebot_sim" type="solver.py" output="screen"/> -->
  <!-- <node name="transform" pkg="puzzlebot_sim" type="transform.py" output="screen"/> -->
  <node name="localization" pkg="puzzlebot_sim" type="localization.py" output="screen"/>  
  <!-- <node name="coord_transform" pkg="puzzlebot_sim" type="coord_transform.py" output="screen"/> -->
  <node name="puzzlebot_tf_broadcast" pkg="puzzlebot_sim" type="puzzlebot_tf_broadcast.py" output="screen"/>  
  <node name="puzzlebot_kinematic_model" pkg="puzzlebot_sim" type="puzzlebot_kinematic_model.py" output="screen"/>  
  <include file="$(find puzzlebot_rviz_ch1)/launch/puzzlebot_joints.launch"/>




</launch>

  
